<a href="https://colab.research.google.com/github/alerosenberg/rais_ale/blob/main/Gerar_cubo_RAIS_CNAE_RJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalando bibliotecas

In [ ]:
!pip install wget 
!pip install py7zr
!pip install dask
!pip install dask[dataframe]
#!pip install sys
!pip install tqdm
#!pip install os
!pip install pandas
!pip install numpy
!pip install scipy
!pip install matplotlib
!pip install seaborn 
!pip install deflatebr

Importando bibliotecas

In [2]:
import wget
import py7zr
import dask 
import dask.dataframe as dd
import sys
from tqdm import tqdm
import py7zr
import os
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.tools import add_constant
from statsmodels.graphics.factorplots import interaction_plot
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
import matplotlib.pyplot as plt
import seaborn as sns
from deflatebr import deflate

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Instalando MYSQL

In [ ]:
!pip install db-sqlite3
import sqlite3
conn = sqlite3.connect('example.db')

Transferir bases da RAIS para o Google Drive

In [ ]:
# Acessar o site abaixo:
# ftp://ftp.mtps.gov.br/pdet/microdados/RAIS/
# Escolher os anos e os estados desejados
# Descompatar o arquivo no computador
# Transferir o txt para o Google Drive
# Cada arquivo (utilizo como referência a RAIS de cada ano para o estado de SP) ocupa cerca de 6GB

Importar arquivos do Google Drive para o Google Colab

In [4]:
#STEP-1: Import libraries
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import files
from oauth2client.client import GoogleCredentials
import glob

In [5]:
#STEP-2: Autheticate E-Mail ID
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Macro para os municípios do estado de São Paulo

In [7]:
sp = ['350010', 	'350020', 	'350030', 	'350040', 	'350050', 	'350055', 	'350060', 	'350070', 	'350075', 	'350080', 	'350090', 	'350100', 	'350110', 	'350115', 	'350120', 	'350130', 	'350140', 	'350150', 	'350160', 	'350170', 	'350180', 	'350190', 	'350200', 	'350210', 	'350220', 	'350230', 	'350240', 	'350250', 	'350260', 	'350270', 	'350275', 	'350280', 	'350290', 	'350300', 	'350310', 	'350315', 	'350320', 	'350330', 	'350335', 	'350340', 	'350350', 	'350360', 	'350370', 	'350380', 	'350390', 	'350395', 	'350400', 	'350410', 	'350420', 	'350430', 
'350440', 	'350450', 	'350460', 	'350470', 	'350480', 	'350490', 	'350500', 	'350510', 	'350520', 	'350530', 	'350535', 	'350540', 	'350550', 	'350560', 	'350570', 	'350580', 	'350590', 	'350600', 	'350610', 	'350620', 	'350630', 	'350635', 	'350640', 	'350650', 	'350660', 	'350670', 	'350680', 	'350690', 	'350700', 	'350710', 	'350715', 	'350720', 	'350730', 	'350740', 	'350745', 	'350750', 	'350760', 	'350770', 	'350775', 	'350780', 	'350790', 	'350800', 	'350810', 	'350820', 	'350830', 	'350840', 	'350850', 	'350860', 	'350870', 	'350880', 
'350890', 	'350900', 	'350910', 	'350920', 	'350925', 	'350930', 	'350940', 	'350945', 	'350950', 	'350960', 	'350970', 	'350980', 	'350990', 	'350995', 	'351000', 	'351010', 	'351015', 	'351020', 	'351030', 	'351040', 	'351050', 	'351060', 	'351070', 	'351080', 	'351090', 	'351100', 	'351110', 	'351120', 	'351130', 	'351140', 	'351150', 	'351160', 	'351170', 	'351190', 	'351200', 	'351210', 	'351220', 	'351230', 	'351240', 	'351250', 	'351260', 	'351270', 	'351280', 	'351290', 	'351300', 	'351310', 	'351320', 	'351330', 	'351340', 	'351350', 
'351360', 	'351370', 	'351380', 	'351385', 	'351390', 	'351400', 	'351410', 	'351420', 	'351430', 	'351440', 	'351450', 	'351460', 	'351470', 	'351480', 	'351490', 	'351492', 	'351495', 	'351500', 	'351510', 	'351512', 	'351515', 	'351518', 	'351519', 	'351520', 	'351530', 	'351535', 	'351540', 	'351550', 	'351560', 	'351565', 	'351570', 	'351580', 	'351590', 	'351600', 	'351610', 	'351620', 	'351630', 	'351640', 	'351650', 	'351660', 	'351670', 	'351680', 	'351685', 	'351690', 	'351700', 	'351710', 	'351720', 	'351730', 	'351740', 	'351750', 
'351760', 	'351770', 	'351780', 	'351790', 	'351800', 	'351810', 	'351820', 	'351830', 	'351840', 	'351850', 	'351860', 	'351870', 	'351880', 	'351885', 	'351890', 	'351900', 	'351905', 	'351907', 	'351910', 	'351920', 	'351925', 	'351930', 	'351940', 	'351950', 	'351960', 	'351970', 	'351980', 	'351990', 	'352000', 	'352010', 	'352020', 	'352030', 	'352040', 	'352042', 	'352044', 	'352050', 	'352060', 	'352070', 	'352080', 	'352090', 	'352100', 	'352110', 	'352115', 	'352120', 	'352130', 	'352140', 	'352150', 	'352160', 	'352170', 	'352180', 
'352190', 	'352200', 	'352210', 	'352215', 	'352220', 	'352230', 	'352240', 	'352250', 	'352260', 	'352265', 	'352270', 	'352280', 	'352290', 	'352300', 	'352310', 	'352320', 	'352330', 	'352340', 	'352350', 	'352360', 	'352370', 	'352380', 	'352390', 	'352400', 	'352410', 	'352420', 	'352430', 	'352440', 	'352450', 	'352460', 	'352470', 	'352480', 	'352490', 	'352500', 	'352510', 	'352520', 	'352530', 	'352540', 	'352550', 	'352560', 	'352570', 	'352580', 	'352585', 	'352590', 	'352600', 	'352610', 	'352620', 	'352630', 	'352640', 	'352650', 
'352660', 	'352670', 	'352680', 	'352690', 	'352700', 	'352710', 	'352720', 	'352725', 	'352730', 	'352740', 	'352750', 	'352760', 	'352770', 	'352780', 	'352790', 	'352800', 	'352810', 	'352820', 	'352830', 	'352840', 	'352850', 	'352860', 	'352870', 	'352880', 	'352885', 	'352890', 	'352900', 	'352910', 	'352920', 	'352930', 	'352940', 	'352950', 	'352960', 	'352965', 	'352970', 	'352980', 	'352990', 	'353000', 	'353010', 	'353020', 	'353030', 	'353040', 	'353050', 	'353060', 	'353070', 	'353080', 	'353090', 	'353100', 	'353110', 	'353120', 
'353130', 	'353140', 	'353150', 	'353160', 	'353170', 	'353180', 	'353190', 	'353200', 	'353205', 	'353210', 	'353215', 	'353220', 	'353230', 	'353240', 	'353250', 	'353260', 	'353270', 	'353280', 	'353282', 	'353284', 	'353286', 	'353290', 	'353300', 	'353310', 	'353320', 	'353325', 	'353330', 	'353340', 	'353350', 	'353360', 	'353370', 	'353380', 	'353390', 	'353400', 	'353410', 	'353420', 	'353430', 	'353440', 	'353450', 	'353460', 	'353470', 	'353475', 	'353480', 	'353490', 	'353500', 	'353510', 	'353520', 	'353530', 	'353540', 	'353550', 
'353560', 	'353570', 	'353580', 	'353590', 	'353600', 	'353610', 	'353620', 	'353625', 	'353630', 	'353640', 	'353650', 	'353657', 	'353660', 	'353670', 	'353680', 	'353690', 	'353700', 	'353710', 	'353715', 	'353720', 	'353730', 	'353740', 	'353750', 	'353760', 	'353770', 	'353780', 	'353790', 	'353800', 	'353810', 	'353820', 	'353830', 	'353850', 	'353860', 	'353870', 	'353880', 	'353890', 	'353900', 	'353910', 	'353920', 	'353930', 	'353940', 	'353950', 	'353960', 	'353970', 	'353980', 	'353990', 	'354000', 	'354010', 	'354020', 	'354025', 
'354030', 	'354040', 	'354050', 	'354060', 	'354070', 	'354075', 	'354080', 	'354085', 	'354090', 	'354100', 	'354105', 	'354110', 	'354120', 	'354130', 	'354140', 	'354150', 	'354160', 	'354165', 	'354170', 	'354180', 	'354190', 	'354200', 	'354210', 	'354220', 	'354230', 	'354240', 	'354250', 	'354260', 	'354270', 	'354280', 	'354290', 	'354300', 	'354310', 	'354320', 	'354323', 	'354325', 	'354330', 	'354340', 	'354350', 	'354360', 	'354370', 	'354380', 	'354390', 	'354400', 	'354410', 	'354420', 	'354425', 	'354430', 	'354440', 	'354450', 
'354460', 	'354470', 	'354480', 	'354490', 	'354500', 	'354510', 	'354515', 	'354520', 	'354530', 	'354540', 	'354550', 	'354560', 	'354570', 	'354580', 	'354600', 	'354610', 	'354620', 	'354625', 	'354630', 	'354640', 	'354650', 	'354660', 	'354670', 	'354680', 	'354690', 	'354700', 	'354710', 	'354720', 	'354730', 	'354740', 	'354750', 	'354760', 	'354765', 	'354770', 	'354780', 	'354790', 	'354800', 	'354805', 	'354810', 	'354820', 	'354830', 	'354840', 	'354850', 	'354860', 	'354870', 	'354880', 	'354890', 	'354900', 	'354910', 	'354920', 
'354925', 	'354930', 	'354940', 	'354950', 	'354960', 	'354970', 	'354980', 	'354990', 	'354995', 	'355000', 	'355010', 	'355020', 	'355030', 	'355040', 	'355050', 	'355060', 	'355070', 	'355080', 	'355090', 	'355100', 	'355110', 	'355120', 	'355130', 	'355140', 	'355150', 	'355160', 	'355170', 	'355180', 	'355190', 	'355200', 	'355210', 	'355220', 	'355230', 	'355240', 	'355250', 	'355255', 	'355260', 	'355270', 	'355280', 	'355290', 	'355300', 	'355310', 	'355320', 	'355330', 	'355340', 	'355350', 	'355360', 	'355365', 	'355370', 	'355380', 
'355385', 	'355390', 	'355395', 	'355400', 	'355410', 	'355420', 	'355430', 	'355440', 	'355450', 	'355460', 	'355465', 	'355470', 	'355475', 	'355480', 	'355490', 	'355495', 	'355500', 	'355510', 	'355520', 	'355530', 	'355535', 	'355540', 	'355550', 	'355560', 	'355570', 	'355580', 	'355590', 	'355600', 	'355610', 	'355620', 	'355630', 	'355635', 	'355640', 	'355645', 	'355650', 	'355660', 	'355670', 	'355680', 	'355690', 	'355695', 	'355700', 	'355710', 	'355715', 	'355720', 	'355730', 	'359999']

rj = ['330010', 	'330015', 	'330020', 	'330022', 	'330023', 	'330025', 	'330030', 	'330040', 	'330045', 	'330050', 	'330060', 	'330070', 	'330080', 	'330090', 	'330093', 	'330095', 	'330100', 	'330110', 	'330115', 	'330120', 
'330130', 	'330140', 	'330150', 	'330160', 	'330170', 	'330180', 	'330185', 	'330187', 	'330190', 	'330200', 	'330205', 	'330210', 	'330220', 	'330225', 	'330227', 	'330230', 	'330240', 	'330245', 	'330250', 	'330260', 
'330270', 	'330280', 	'330285', 	'330290', 	'330300', 	'330310', 	'330320', 	'330330', 	'330340', 	'330350', 	'330360', 	'330370', 	'330380', 	'330385', 	'330390', 	'330395', 	'330400', 	'330410', 	'330411', 	'330412', 
'330414', 	'330415', 	'330420', 	'330430', 	'330440', 	'330450', 	'330452', 	'330455', 	'330460', 	'330470', 	'330475', 	'330480', 	'330490', 	'330500', 	'330510', 	'330513', 	'330515', 	'330520', 	'330530', 	'330540', 
'330550', 	'330555', 	'330560', 	'330570', 	'330575', 	'330580', 	'330590', 	'330600', 	'330610', 	'330615', 	'330620', 	'330630', 	'339999']

Importando dados

In [ ]:
# STEP-3: Get File from Drive using file-ID
# Após 'id': na linha abaixo é necessário trocar pelo caminho do arquivo desejado 
# O caminho pode ser obtido clicando com o botão direito sobre o arquivo e em Gerar Link
# Abaixo devem ser indicados os arquivos desejados (que já devem estar presentes no Drive)
#STEP-4: Read File
#3.1 Read file as panda dataframe

# downloaded = drive.CreateFile({'id':'1Y-q7WhtSuTZFQWz7T8i-qn74_VmNrT8m'})
# downloaded.GetContentFile('Estb2002.csv') 
# base = pd.read_csv('Estb2002.csv', sep=';', encoding="latin1", low_memory=False,
#                         dtype={ 'Bairros SP': 'object',
#                                 'Distritos SP': 'object',
#                                 'Municipio': 'object',
#                                 'Natureza Jurídica': 'object',
#                                 'CNAE 2.0 Subclasse': 'object',
#                                 'CNAE 2.0 Classe': 'object',
#                                 'CNAE 95 Classe': 'object'})     
# base = base[base.Município.isin(rj)]

# base.to_sql('test_table1',conn,if_exists='replace',index=False)

# sql = ''' select 
# a.'CNAE 95 Classe' as CNAE_95_Classe
# ,a.'Ind Rais Negativa' as Ind_Rais_Negativa
# ,a.'Ind Simples' as Ind_Simples
# ,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
# ,count(*) as cont
# ,sum(a.'Qtd Vínculos CLT') as qtd_clt
# from test_table1 as a
# group by 1,2,3,4
# '''

# pd.read_sql(sql,conn)

# pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2002.csv')
# !cp cubo_rais_rj_2002.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1P6kxLiamdrIvDgZrvPCFqgXRQaFwl-K0'})
downloaded.GetContentFile('Estb2003.csv') 
base = pd.read_csv('Estb2003.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2003.csv')
!cp cubo_rais_rj_2003.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1nAdEaxdWETycgomgEkx0dretHHgM1jr6'})
downloaded.GetContentFile('Estb2004.csv') 
base = pd.read_csv('Estb2004.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2004.csv')
!cp cubo_rais_rj_2004.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1auHLKPFsQ4az7lPqU65ad4gQkf0vQjuq'})
downloaded.GetContentFile('Estb2005.csv') 
base = pd.read_csv('Estb2005.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2005.csv')
!cp cubo_rais_rj_2005.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'179ccoh-ORC6EHy1PKOzRDNEJG0pNL9Nu'})
downloaded.GetContentFile('Estb2006.csv') 
base = pd.read_csv('Estb2006.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2006.csv')
!cp cubo_rais_rj_2006.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1l5B71Kbbntp2KjpelphotnGbDw7ORVBV'})
downloaded.GetContentFile('Estb2007.csv') 
base = pd.read_csv('Estb2007.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2007.csv')
!cp cubo_rais_rj_2007.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1GGRz7aPkchIv6CWPzp0qM9IPMMFadJeV'})
downloaded.GetContentFile('Estb2008.csv') 
base = pd.read_csv('Estb2008.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2008.csv')
!cp cubo_rais_rj_2008.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'133Miuim_0r5QRBFUA0z8oG7kA0meP93f'})
downloaded.GetContentFile('Estb2009.csv') 
base = pd.read_csv('Estb2009.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2009.csv')
!cp cubo_rais_rj_2009.csv "drive/My Drive/Cubo"


downloaded = drive.CreateFile({'id':'1q0f67VEijt6l6HZM8Idyn6Ikejx3PWLt'})
downloaded.GetContentFile('Estb2010.csv') 
base = pd.read_csv('Estb2010.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})  
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2010.csv')
!cp cubo_rais_rj_2010.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1E57PQlNd5PsKRruGfWGRD7gDU6Lyvg6Y'})
downloaded.GetContentFile('Estb2011.csv')                 
base = pd.read_csv('Estb2011.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]  

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2011.csv')
!cp cubo_rais_rj_2011.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1gihHH68M9o9x1tAl6tKUjQHO2xDjRPiH'})
downloaded.GetContentFile('Estb2012.csv') 
base = pd.read_csv('Estb2012.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})       
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2012.csv')
!cp cubo_rais_rj_2012.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1qBAzQomFLaqDeUbQujx8nZ9667Qgne0h'})
downloaded.GetContentFile('Estb2013.csv') 
base = pd.read_csv('Estb2013.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})       
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2013.csv')
!cp cubo_rais_rj_2013.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1xcpL7Z3QML-ZGzq_icpmtTK12JFpL8Lq'})
downloaded.GetContentFile('Estb2014.csv') 
base = pd.read_csv('Estb2014.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Município': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})       
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2014.csv')
!cp cubo_rais_rj_2014.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1XHEgOTsEvv8DRdzUGZJFwP-HjUur6UCT'})
downloaded.GetContentFile('Estb2015.csv') 
base = pd.read_csv('Estb2015.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2015.csv')
!cp cubo_rais_rj_2015.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'12jfYDXg0EvOPjI8DvIEYer6AZOesHnTd'})
downloaded.GetContentFile('Estb2016.csv') 
base = pd.read_csv('Estb2016.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2016.csv')
!cp cubo_rais_rj_2016.csv "drive/My Drive/Cubo"


downloaded = drive.CreateFile({'id':'1OChtr5rFYQXYisKeZmjmOT3PAfeEQ2SW'})
downloaded.GetContentFile('Estb2017.csv') 
base = pd.read_csv('Estb2017.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2017.csv')
!cp cubo_rais_rj_2017.csv "drive/My Drive/Cubo"

downloaded = drive.CreateFile({'id':'1kebMzfUzooVe5v9MIq23JXvFatLorZRH'})
downloaded.GetContentFile('Estb2018.csv') 
base = pd.read_csv('Estb2018.csv', sep=';', encoding="latin1", low_memory=False,
                        dtype={ 'Bairros SP': 'object',
                                'Distritos SP': 'object',
                                'Municipio': 'object',
                                'Natureza Jurídica': 'object',
                                'CNAE 2.0 Subclasse': 'object',
                                'CNAE 2.0 Classe': 'object',
                                'CNAE 95 Classe': 'object'})     
base = base[base.Município.isin(rj)]

base.to_sql('test_table1',conn,if_exists='replace',index=False)

sql = ''' select 
a.'CNAE 95 Classe' as CNAE_95_Classe
,a.'Ind Rais Negativa' as Ind_Rais_Negativa
,a.'Ind Simples' as Ind_Simples
,a.'Tamanho Estabelecimento' as Tamanho_Estabelecimento
,count(*) as cont
,sum(a.'Qtd Vínculos CLT') as qtd_clt
from test_table1 as a
group by 1,2,3,4
'''

pd.read_sql(sql,conn)

pd.read_sql(sql,conn).to_csv('cubo_rais_rj_2018.csv')
!cp cubo_rais_rj_2018.csv "drive/My Drive/Cubo"