<a href="https://colab.research.google.com/github/alerosenberg/rais_ale/blob/main/IPCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install wget 
!pip install py7zr
!pip install dask
!pip install dask[dataframe]
#!pip install sys
!pip install tqdm
#!pip install os
!pip install pandas
!pip install numpy
!pip install scipy
!pip install matplotlib
!pip install seaborn 
!pip install deflatebr

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=b583c5045a84549c3542889db34074b21cd5070d4a136cb96079faa1c7850f04
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
Collecting py7zr
  Downloading https://files.pythonhosted.org/packages/df/ca/88df33e3d7d7afec48a8345f4bea12426661ea5fff5c0c5eea20da6d8dc2/py7zr-0.10.1-py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 2.1MB/s
Collecting texttable
  Downloading https://files.pythonhosted.org/packages/06/f5/46201c428aebe0eecfa83df66bf3e6caa29659dbac5a56ddfd83cae0d4a4/texttable-1.6.3-py2.py3-none-any.whl
Collecting pycryptodome
  Downloading https://files.pythonhosted.org/packages/17/55/17fa0b55849dc135f7bc400993a9206bf06d1b5d9520b0bc8d47c57aaef5/pycryptodome-3.9.8-cp36-cp36m-manylinux1_x86_64.whl (13.7MB)
     |████████████████████████████████| 13.7MB 241kB/s
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from py7zr) (2.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->py7zr) (3.3.1)
Installing collected packages: texttable, pycryptodome, py7zr
Successfully installed py7zr-0.10.1 pycryptodome-3.9.8 texttable-1.6.3
Requirement already satisfied: dask in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: pandas>=0.23.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.1.3)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/a5/8b/1df260f860f17cb08698170153ef7db672c497c1840dcc8613ce26a8a005/fsspec-0.8.4-py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 2.4MB/s
Requirement already satisfied: numpy>=1.13.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (1.18.5)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (1.15.0)
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=5b2a3071ec34a7eaeaf0fbda32e2f3c809b71c07f220aa43b6f00e9f8b5d92de
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built locket
Installing collected packages: fsspec, locket, partd
Successfully installed fsspec-0.8.4 locket-0.2.0 partd-1.1.0
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (4.41.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.18.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.18.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.11.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23->seaborn) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)
Collecting deflatebr
  Downloading https://files.pythonhosted.org/packages/8d/01/c6b3218e23d95430c0c9638f59057887d24dd22c766c35a713f493137b6f/deflateBR-0.2.1-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from deflatebr) (1.18.5)
Collecting datetime
  Downloading https://files.pythonhosted.org/packages/73/22/a5297f3a1f92468cc737f8ce7ba6e5f245fcfafeae810ba37bd1039ea01c/DateTime-4.3-py2.py3-none-any.whl (60kB)
     |████████████████████████████████| 61kB 2.7MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from deflatebr) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from deflatebr) (4.41.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from deflatebr) (1.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from datetime->deflatebr) (2018.9)
Collecting zope.interface
  Downloading https://files.pythonhosted.org/packages/c5/89/1eb9dbb9e24f5e2c29ab1a88097b2f1333858aac3cd3cccc6c4c1c8ad867/zope.interface-5.1.2-cp36-cp36m-manylinux2010_x86_64.whl (236kB)
     |████████████████████████████████| 245kB 8.3MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->deflatebr) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->deflatebr) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->deflatebr) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->deflatebr) (1.24.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->deflatebr) (2.8.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from zope.interface->datetime->deflatebr) (50.3.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->deflatebr) (1.15.0)
Installing collected packages: zope.interface, datetime, deflatebr
Successfully installed datetime-4.3 deflatebr-0.2.1 zope.interface-5.1.2

In [2]:
import wget
import py7zr
import dask 
import dask.dataframe as dd
import sys
from tqdm import tqdm
import py7zr
import os
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.tools import add_constant
from statsmodels.graphics.factorplots import interaction_plot
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
import matplotlib.pyplot as plt
import seaborn as sns
from deflatebr import deflate

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#STEP-1: Import libraries
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [4]:
#STEP-2: Autheticate E-Mail ID
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [99]:
from google.colab import files
uploaded = files.upload()

Saving COLAB_IPCA.xlsx to COLAB_IPCA (1).xlsx

In [100]:
import io
ipca = pd.read_excel(io.BytesIO(uploaded['COLAB_IPCA.xlsx']))
ipca

                        PRODUTO     ANO    RJ    SP  NACIONAL
0                       ABACATE  200204  0.00  0.00      0.96
1                       ABACATE  200205  0.00  0.00      0.51
2                       ABACATE  200206  0.00  0.00     -0.43
3                       ABACATE  200207  0.00  0.00     -0.36
4                       ABACATE  200208  0.00  0.00      0.38
...                         ...     ...   ...   ...       ...
98539  VITAMINA E FORTIFICANTE   201208  1.14 -0.17      0.22
98540  VITAMINA E FORTIFICANTE   201209 -0.18 -1.40     -0.33
98541  VITAMINA E FORTIFICANTE   201210  0.42  0.59     -0.10
98542  VITAMINA E FORTIFICANTE   201211 -0.11  1.38      0.29
98543  VITAMINA E FORTIFICANTE   201212  0.25 -0.28      0.31

[98544 rows x 5 columns]

In [105]:
ipcas = ipca.sort_values(by=['PRODUTO','ANO'], ascending=[True, True])
ipcas.iloc[130:140]

      PRODUTO     ANO     RJ    SP  NACIONAL
130  ABACATE   201208   0.00  0.00     -5.76
131  ABACATE   201209   0.00  0.00      0.31
132  ABACATE   201210   0.00  0.00      2.32
133  ABACATE   201211   0.00  0.00      6.51
134  ABACATE   201212   0.00  0.00     22.94
135   ABACAXI  200204   7.03 -3.06      2.37
136   ABACAXI  200205  -0.88 -6.18     -4.50
137   ABACAXI  200206  -1.23 -4.77     -3.04
138   ABACAXI  200207   9.35  2.12     -0.14
139   ABACAXI  200208 -10.24 -2.76     -3.97

In [107]:
somar_12m = ipcas[['SP']].groupby(ipcas['PRODUTO']).apply(lambda g: g.rolling(12).sum())
# somar_12m.iloc[130:155]

                 SP
PRODUTO
ABACATE  130    NaN
         131    NaN
         132    NaN
         133    NaN
         134    NaN
ABACAXI  135    NaN
         136    NaN
         137    NaN
         138    NaN
         139    NaN
         140    NaN
         141    NaN
         142    NaN
         143    NaN
         144    NaN
         145    NaN
         146  16.48
         147  18.58
         148  24.77
         149  19.74
         150  10.80
         151  19.37
         152  17.34
         153  26.77
         154  13.41

In [ ]:
quebras = list(ipca['PRODUTO'].unique())
for quebras in quebras:
  ipca[ipca['PRODUTO'] == quebras]['SP'].rolling(12).sum()
list(ipca['SP'])

In [7]:
!pip install db-sqlite3
import sqlite3
conn = sqlite3.connect('example.db')

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 2.6MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=905f36450a79b9690ca6d4f127f3b18da31c5812216f6711faba5e27a61fa6cc
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=3e29c174bc523ab14f4ac1d0daefa3a7688d9a6c0f08673f424714d64d363897
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=13f9a8d025eb303a861ce18d6d5f77165a060699a6efde6d2cf4cd99bdb08842
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [8]:
ipca.to_sql('ipca_base',conn,if_exists='replace',index=False)

In [9]:
sql = ''' select 
a.'PRODUTO' as PRODUTO
,a.'ANO' as ANO
,count(*) as cont
,sum(a.'RJ') as RJ
,sum(a.'SP') as SP
from ipca_base as a
where PRODUTO = 'PRODUTOS FARMACÊUTICOS'
group by 1,2
ORDER BY 'PRODUTO', 'ANO'

'''
pd.read_sql(sql,conn)

                    PRODUTO     ANO  cont    RJ    SP
0    PRODUTOS FARMACÊUTICOS  200204     1  1.03  0.48
1    PRODUTOS FARMACÊUTICOS  200205     1  0.24 -0.11
2    PRODUTOS FARMACÊUTICOS  200206     1 -0.36 -0.41
3    PRODUTOS FARMACÊUTICOS  200207     1 -0.16  0.26
4    PRODUTOS FARMACÊUTICOS  200208     1  0.50  0.30
..                      ...     ...   ...   ...   ...
113  PRODUTOS FARMACÊUTICOS  201109     1 -0.53 -0.48
114  PRODUTOS FARMACÊUTICOS  201110     1  0.10 -0.50
115  PRODUTOS FARMACÊUTICOS  201111     1  0.06  0.50
116  PRODUTOS FARMACÊUTICOS  201112     1 -0.06  0.07
117  PRODUTOS FARMACÊUTICOS  201201     1  0.02  0.63

[118 rows x 5 columns]