<a href="https://colab.research.google.com/github/alerosenberg/rais_ale/blob/main/VINCULOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install wget 
!pip install py7zr
!pip install dask
!pip install dask[dataframe]
#!pip install sys
!pip install tqdm
#!pip install os
!pip install pandas
!pip install numpy
!pip install scipy
!pip install matplotlib
!pip install seaborn 
!pip install deflatebr

In [2]:
import wget
import py7zr
import dask 
import dask.dataframe as dd
import sys
from tqdm import tqdm
import py7zr
import os
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.tools import add_constant
from statsmodels.graphics.factorplots import interaction_plot
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif
import matplotlib.pyplot as plt
import seaborn as sns
from deflatebr import deflate

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#STEP-1: Import libraries
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import files
from oauth2client.client import GoogleCredentials
import glob

In [4]:
#STEP-2: Autheticate E-Mail ID
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
downloaded = drive.CreateFile({'id':'18rO2us-ALGcqIQ0cMy3b7wiAu-9A5u56'})
downloaded.GetContentFile('SP2005.csv') 
vinculos = pd.read_csv('SP2005.csv', sep=';', decimal=',',
                         chunksize=500000, encoding='latin1',
                         low_memory=False)

In [7]:
 COUNTER = 0    
 df = pd.DataFrame()
 for frame in vinculos:
        frame = frame[ ['CNAE 95 Classe', 'Faixa Remun Média (SM)', 'Grau Instrução 2005-1985',
                        'Vl Remun Média (SM)', 'Vl Remun Média Nom',
                        'Tamanho Estabelecimento', 'Ind Simples'] ]
# Escolaridade após 2005                       
# após 2005                        
        df = df.append(frame)
        COUNTER = COUNTER + 1
        print('Chunk número {} processado'.format(COUNTER))

Chunk número 1 processado
Chunk número 2 processado
Chunk número 3 processado
Chunk número 4 processado
Chunk número 5 processado
Chunk número 6 processado
Chunk número 7 processado
Chunk número 8 processado
Chunk número 9 processado
Chunk número 10 processado
Chunk número 11 processado
Chunk número 12 processado
Chunk número 13 processado
Chunk número 14 processado
Chunk número 15 processado
Chunk número 16 processado
Chunk número 17 processado
Chunk número 18 processado
Chunk número 19 processado
Chunk número 20 processado
Chunk número 21 processado
Chunk número 22 processado
Chunk número 23 processado
Chunk número 24 processado
Chunk número 25 processado
Chunk número 26 processado
Chunk número 27 processado
Chunk número 28 processado
Chunk número 29 processado

In [8]:
df.groupby('Ind Simples').size()

Ind Simples
0    11228401
1     3025344
dtype: int64

In [10]:
vinc_rem_med_sm = df.groupby(['CNAE 95 Classe', 'Faixa Remun Média (SM)', 'Grau Instrução 2005-1985',
                        'Tamanho Estabelecimento', 'Ind Simples']).sum('Vl Remun Média (SM)')
vinc_rem_med_sm

                                                                                                    Vl Remun Média (SM)  Vl Remun Média Nom
CNAE 95 Classe Faixa Remun Média (SM) Grau Instrução 2005-1985 Tamanho Estabelecimento Ind Simples
1112           00                     2                        2                       0                           0.36              105.58
                                                               3                       0                           0.31               82.90
                                                               4                       0                           0.47              137.50
                                                               6                       0                           0.41              108.95
                                                               7                       0                           0.42              109.23
...                                                                                                                 ...                 ...
99007          11                     9                        2                       0                          68.74            19569.59
                                                               3                       0                         293.98            84789.16
                                                               4                       0                         488.95           139476.22
                                                               5                       0                         817.16           233841.82
               {ñ                     9                        2                       0                           0.00                0.00

[321656 rows x 2 columns]

In [12]:
vinc_rem_med = df.groupby(['CNAE 95 Classe', 'Faixa Remun Média (SM)', 'Grau Instrução 2005-1985',
                        'Tamanho Estabelecimento', 'Ind Simples']).sum('Vl Remun Média Nom')     
vinc_rem_med

                                                                                                    Vl Remun Média (SM)  Vl Remun Média Nom
CNAE 95 Classe Faixa Remun Média (SM) Grau Instrução 2005-1985 Tamanho Estabelecimento Ind Simples
1112           00                     2                        2                       0                           0.36              105.58
                                                               3                       0                           0.31               82.90
                                                               4                       0                           0.47              137.50
                                                               6                       0                           0.41              108.95
                                                               7                       0                           0.42              109.23
...                                                                                                                 ...                 ...
99007          11                     9                        2                       0                          68.74            19569.59
                                                               3                       0                         293.98            84789.16
                                                               4                       0                         488.95           139476.22
                                                               5                       0                         817.16           233841.82
               {ñ                     9                        2                       0                           0.00                0.00

[321656 rows x 2 columns]

In [13]:
vinc_cont = df.groupby(['CNAE 95 Classe', 'Faixa Remun Média (SM)', 'Grau Instrução 2005-1985',
                        'Tamanho Estabelecimento', 'Ind Simples']).count()
vinc_cont

                                                                                                    Vl Remun Média (SM)  Vl Remun Média Nom
CNAE 95 Classe Faixa Remun Média (SM) Grau Instrução 2005-1985 Tamanho Estabelecimento Ind Simples
1112           00                     2                        2                       0                              1                   1
                                                               3                       0                              1                   1
                                                               4                       0                              1                   1
                                                               6                       0                              1                   1
                                                               7                       0                              1                   1
...                                                                                                                 ...                 ...
99007          11                     9                        2                       0                              3                   3
                                                               3                       0                             12                  12
                                                               4                       0                             18                  18
                                                               5                       0                             28                  28
               {ñ                     9                        2                       0                              1                   1

[321656 rows x 2 columns]